<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8"/>
		<title>Pig Latin Translator</title>
		<link rel ="stylesheet" type="text/css" href="Styles/style.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
	<script src="app/words.js"></script>
	<script src="app/app.js"></script>
	<script src="app/wordsfactory.js"></script>


	</head>
	<body ng-app='piglatin'>
	<div ng-controller="TranslatorController">
	<h1>Pig Latin Translator</h1>
		<form ng-submit="translateWord()" class="ng-pristine">
			<input type='text' ng-model='word' placeholder="Enter word to translate" />
	 		<button type="submit" value="Submit"> Translate </button>
			<p>
			<tt>Original Word: {{oldword}}</tt><br/>
			<tt>Translated Word: {{newWord}}</tt><br/>
			</p>
		</form>

	<h2> Quotes </h2>
	<button ng-click= "getQuotes()"> Get Quote </button>
	<p>{{data.quotes}}</p>
	<button ng-click="getQuotePigLatin()">Translate Quote to Pig Latin </button>
	<p>{{newQuote}}</p>
	</div>
</html>