<!DOCTYPE html>
<html ng-app='piglatin'>
	<head>
		<meta charset="utf-8"/>
		<title>Pig Latin Translator</title>
		<link rel ="stylesheet" type="text/css" href="styles/style.css"
		/>
	</head>
	<body>
	<h1>Pig Latin Translator</h1>
		<form ng-submit="translateWord(word)" class="ng-pristine ng-valid">
			<input type='text' ng-model='word' placeholder="Enter word to translate" class="ng-pristine ng-valid ng-empty ng-touched"/>
			<button type="submit"> Translate </button>
		</form>
		<textarea ng-model="string" />
	<script src="path/to/angular.js"></script>
	<script src="path/to/angular-route.js"></script>
	<script src="app/words.js"</script>
	<script src="app/app.js"</script>
	</body>
</html>